.form{
    border: 1px solid ;
    padding: 10px;
    border-radius: 6px;
}
.app-container{
    display: flex;
    gap: 2em;
    padding: 1em;
    align-items: flex-start;
}
input{
    margin-bottom: 10px;
}
input[type="text"] {
    text-transform: capitalize;
  }

.button-container{
    justify-content: center;
    background: hsl(0,0%, 70%);
    display: flex;
    margin-top: 1em;
}
.button-container:hover{
    background: hsl(0,0%, 50%);
}
.table-box{
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
}
.table-box table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }