.form{
    border: 1px solid;
    background-color:#aaf1ff;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}
.search-input{
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.main-container{
    margin: 0 10px;
    overflow: hidden;
    background-color:#0f214d;
    border-radius: 5px;
}
.box{
    text-align: center;
    border: 1px solid  hsl(0, 91%, 18%);
    border-radius: 5px;
    background-color:#0b5fb0;
    font-family:serif;
    margin-bottom: 10px;
}
.app-container{
    display: flex;
    gap: 2em;
    align-items: flex-start;
}
input{
    margin-bottom: 10px;
    width: 100%;
}

.button-container{
    text-align: center;
    background: hsl(0, 18%, 32%);
    margin: 1rem auto;
    padding: 10px 30px;
    border: none;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}
.button-container:hover{
    background: hsl(283, 94%, 36%);
}
.table-box{
    width: 100%;
    overflow-x: auto;
    
}
.table-box table {
    width: 100%;
    border-collapse: collapse;
    background-color: #efedce;
    text-align: center;

  }
  .deleteBtn{
    border: none;
  }